<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Реестр документов</title>
    <link rel="stylesheet" th:href="@{/css/documentList.css}">
</head>
<body>
<div class="container">
    <h1>Реестр документов</h1>
    <form class="search-form" th:action="@{/documents/search}" method="get">
        <select name="searchType">
            <option value="title">Название</option>
            <option value="type">Тип</option>
            <option value="author">Автор</option>

        </select>
        <input type="text" name="query" placeholder="Введите запрос..." />
        <button type="submit">Поиск</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Тип</th>
            <th>Автор</th>
            <th>Дата</th>
            <th>Номер</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="document : ${documents}">
            <td th:text="${document.id}">1</td>
            <td th:text="${document.title}">Название документа</td>
            <td th:text="${document.type}">Тип документа</td>
            <td th:text="${document.author}">Автор документа</td>
            <td th:text="${document.date}">Дата документа</td>
            <td th:text="${document.number}">Номер документа</td>
            <td class="action-links">
                <a th:href="@{/documents/edit/{id}(id=${document.id})}">Изменить</a>
                <form th:action="@{/documents/delete/{id}(id=${document.id})}" method="post"
                      onsubmit="return confirm('Вы уверены, что хотите удалить этот документ?');">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/documents/create" class="create-button">Создать новый документ</a>
</div>
</body>
</html>
