<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать документ</title>
    <link rel="stylesheet" th:href="@{/css/editDocument.css}">
</head>
<body>
<div class="container">
    <h1>Редактировать документ</h1>
    <form th:action="@{/documents/update}" th:object="${document}" method="post">
        <input type="hidden" th:field="*{id}" />

        <label for="title">Название:</label>
        <input id="title" type="text" th:field="*{title}" />

        <label for="type">Тип:</label>
        <input id="type" type="text" th:field="*{type}" />


        <label for="author">Автор:</label>
        <input id="author" type="text" th:field="*{author}" />

        <label for="date">Дата:</label>
        <input id="date" type="date" th:field="*{date}" />

        <label for="number">Номер:</label>
        <input id="number" type="number" th:field="*{number}" />

        <button type="submit">Сохранить</button>
    </form>
</div>
</body>
</html>
